.TextBox_white {
  text-align: center;
  font-size: 30px;
  line-height: normal;
  color: white;
}

.Buttons {
  text-align: center;
  font-size: 20px;
  line-height: normal;
}

body {
  background-color: black;
}
